/*
https://colorhunt.co/palette/180289
*/

:root {
    --c1: #eeeeee;
    --c2: #00adb5;
    --c3: #393e46;
    --c4: #222831;
}

body {
    background-color: var(--c1);
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', serif;}

h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 4em;
    margin: 0 auto;
    color: var(--c3);
}

h2 {
    font-family: 'Merriweather', sans-serif;
    margin: 30px auto 10px;
    color: var(--c2);
}

p {
    color: var(--c4);
    margin: 0 auto 5px;
}

.container-top {
    margin-top: 60px;
}

.container-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}


.headshot {
    border-radius: 50%;
    width: 200px;
}

.column1 {
    display: inline-block;
    position: relative;
    top: -30px;
}

.column2 {
    display: inline-block;
}
